.wrap{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
}
ul,li{
    list-style:none;
}

.ul_game{
    display:flex;
    flex-wrap: wrap;

}

.li_game{
    width: 30%;
    margin-left:10px;
    margin-bottom: 30px;
}

.edq_modal{
    margin-bottom: 50px;
    /* height:20px */
}

.editG_div{
    margin-bottom:30px
}

.li_questionEdit{
    margin-bottom:30px
}
.div_metaEdit{
    margin-bottom:30px
}

.img_game{
    width:200px;
    height: 200px;
}

.flex_center{
    display:flex;
    justify-content:center;
}

.mgb_10{
    margin-bottom: 10px;
}
.mgb_30{
    margin-bottom: 10px;
}